.access {
  padding-top: 188px;

  &__title {
    margin-bottom: 17px;
  }

  &__description {
    margin-bottom: 72px;
  }

  &__image {
    margin: 0 auto;
    transform: scale(1.12);
    width: min(100%, 808px);
  }

  @media screen and (min-width: 62rem) {
    padding-top: 152px;

    &__description {
      .text-box-centered();
    }
  }
}
