.download {
  padding-top: 170px;

  &__title {
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 62rem) {
    padding-top: 160px;

    &__title {
      margin-bottom: 20px;
    }

    &__description {
      .text-box-centered();
      font-size: var(--text-font-md);
    }
  }
}
