.footer {
  align-items: center;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  padding-top: 52px;

  &__logo {
    margin-bottom: 45px;
    width: 55px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 28px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
  }
}
