.footer {
  align-items: center;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  padding: 52px 0 58px;

  &__logo {
    margin-bottom: 45px;
    width: 55px;
  }

  &__links {
    display: grid;
    gap: 28px;
    list-style: none;
    margin-bottom: 50px;
  }

  &__link {
    color: var(--primary-color);
    font-size: 1.125rem;
    text-decoration: none;
  }

  &__socials {
    display: flex;
    gap: 40px;
  }

  &__social {
    --icon-size: 24px;

    &::before {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      content: "";
      display: block;
      width: var(--icon-size);
      height: var(--icon-size);
    }

    &--facebook::before {
      background-image: url("../../assets/images/icons/socials/icon-facebook.svg");
    }

    &--twitter::before {
      background-image: url("../../assets/images/icons/socials/icon-twitter.svg");
    }

    &--instagram::before {
      background-image: url("../../assets/images/icons/socials/icon-instagram.svg");
    }
  }

  @media screen and (min-width: 62rem) {
    flex-direction: row;
    padding: 52px 165px 58px;

    &__logo {
      margin: 0 135px 0 0;
    }

    &__links {
      gap: 20px 74px;
      text-align: left;
      margin-bottom: 0;
    }

    &__socials {
      gap: 24px;
      margin-left: auto;
    }
  }
}
