.header {
  padding: 123px var(--v-space) 0px;

  &__title {
    font-size: var(--font-lg);
    line-height: 1.3;
    margin-bottom: 16px;
  }

  &__logo {
    margin-bottom: 60px;
  }

  &__description {
    line-height: 1.6;
    margin-bottom: 50px;
  }

  &::before {
    background-image: url("../../assets/images/background/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 363px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
