.partners {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding-top: 132px;

  &__logo {
    transform: scale(0.85);
  }

  @media screen and (min-width: 62rem) {
    flex-direction: row;
    gap: 96px;
    justify-content: center;

    &__logo {
      transform: none;
    }
  }
}
