.productivity {
  padding-top: 110px;

  &__title {
    margin-bottom: 12px;
  }

  &__description {
    margin-bottom: 90px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 53px;
  }

  &__item {
    &::before {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
      display: block;
      height: 40px;
      margin: 0 auto 41px;
    }

    &--blacklist::before {
      background-image: url("../../assets/images/icons/features/icon-blacklist.svg");
      width: 44px;
    }

    &--text::before {
      background-image: url("../../assets/images/icons/features/icon-text.svg");
      width: 36px;
    }

    &--preview::before {
      background-image: url("../../assets/images/icons/features/icon-preview.svg");
      width: 50px;
    }
  }

  &__name {
    margin-bottom: 18px;
  }

  @media screen and (min-width: 62rem) {
    padding-top: 102px;

    &__title {
      margin-bottom: 20px;
    }

    &__description {
      .text-box-centered();
      font-size: var(--text-font-md);
    }
  }
}
