.buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 26px;

  @media screen and (min-width: 62rem) {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
}
