*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("../assets/images/background/bg-header-mobile.png");
  padding: 123px 0 110px;
  text-align: center;
}
