:root {
  --blue-100: hsl(233, 100%, 69%);
  --green-500: hsl(171, 66%, 44%);
  --gray-500: hsl(201, 11%, 66%);
  --gray-700: hsl(210, 10%, 33%);
  --white: hsl(0, 0%, 100%);

  --primary-color: var(--gray-700);
  --secondary-color: var(--gray-500);
  --background-primary-color: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background-color: var(--background-primary-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

p {
  color: var(--secondary-color);
}

.header {
  padding-top: 123px;
  text-align: center;

  &__logo {
    margin-bottom: 60px;
  }

  &::before {
    background-image: url("../assets/images/background/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 363px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
