html,
body {
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background-color: var(--background-primary-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-weight: 600;
}

p {
  color: var(--secondary-color);
  font-weight: 400;
}
