html,
body {
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background-color: var(--background-primary-color);
  margin: 0 auto;
  max-width: var(--page-width);
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-weight: 600;
}

h1 {
  font-size: var(--title-font-lg);
}

h2 {
  font-size: var(--title-font-md);
}

h3 {
  font-size: var(--title-font-sm);
}

p {
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 1.6;
}

img {
  display: block;
}
