:root {
  // Base colors
  --blue-100: hsl(233, 100%, 69%);
  --green-500: hsl(171, 66%, 44%);
  --gray-100: hsl(220, 18%, 97%);
  --gray-500: hsl(201, 11%, 66%);
  --gray-700: hsl(210, 10%, 33%);
  --white: hsl(0, 0%, 100%);

  // Categorized colors
  --primary-color: var(--gray-700);
  --secondary-color: var(--gray-500);
  --background-primary-color: var(--white);
  --background-secondary-color: var(--gray-100);

  // Font sizes
  --title-font-lg: clamp(1.9375rem, 4.5vw, 2.7813rem);
  --title-font-md: clamp(1.6875rem, 4vw, 2.175rem);
  --title-font-sm: 1.4375rem;
  --text-font-lg: 1.2688rem;
  --text-font-md: 1.1438rem;
  --text-font-sm: 1rem;

  --v-space: 33px;
  --page-width: 1440px;
}
